<div class="main-content" gdAreas="category bankAccount creditCard | movement balanceReport categoryReport" gdGap="16px"
    gdRows="auto auto auto" gdAreas.lt-md="category | bankAccount | creditCard | movement | balanceReport | categoryReport"
    gdRows.lt-md="auto auto auto auto auto auto">

    <mat-card gdArea="category" routerLink='/categories'>
        <mat-card-title>
            <mat-icon>local_offer</mat-icon>
            Category
        </mat-card-title>
        <mat-card-content>Manage the categories assigned to debit and credit!</mat-card-content>
    </mat-card>

    <mat-card gdArea="bankAccount" routerLink='/bankAccounts'>
        <mat-card-title>
            <mat-icon>account_balance</mat-icon>
            Bank Account
        </mat-card-title>
        <mat-card-content>Create, edit and delete bank accounts!</mat-card-content>
    </mat-card>

    <mat-card gdArea="creditCard">
        <mat-card-title>
            <mat-icon>credit_card</mat-icon>
            Credit Card
        </mat-card-title>
        <mat-card-content>Manage all your credit cards assigned to the debits!</mat-card-content>
    </mat-card>

    <mat-card gdArea="movement">
        <mat-card-title>
            <mat-icon>attach_money</mat-icon>
            Movements
        </mat-card-title>
        <mat-card-content>Configure the movements of your accounts and assign categories!</mat-card-content>
    </mat-card>

    <mat-card gdArea="balanceReport">
        <mat-card-title>
            <mat-icon>account_balance_wallet</mat-icon>
            Balance Report
        </mat-card-title>
        <mat-card-content>Show the balance of your finance health!</mat-card-content>
    </mat-card>

    <mat-card gdArea="categoryReport">
        <mat-card-title>
            <mat-icon>style</mat-icon>
            Category Report
        </mat-card-title>
        <mat-card-content>Show the movements by categories!</mat-card-content>
    </mat-card>

</div>