<mat-toolbar>
  <button mat-icon-button (click)="newCategory()" matTooltip="Create a new category">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [disabled]="isCategorySelected" (click)="editCategory()" matTooltip="Edit the selected category">
    <mat-icon>edit</mat-icon>
  </button>
  <mat-divider class="style-fix" [vertical]="true"></mat-divider>
  <button mat-icon-button [disabled]="isCategorySelected" (click)="deleteCategoryTree()" matTooltip="Delete the whole tree selected">
    <mat-icon svgIcon="delete-tree"></mat-icon>
  </button>
  <button mat-icon-button [disabled]="isCategorySelected" (click)="deleteCategoryNode()" matTooltip="Delete the single node selected">
    <mat-icon svgIcon="delete-node"></mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-title>Categories</mat-card-title> 
  <mat-card-content>
    
    <ejs-treegrid [dataSource]='categories' [treeColumnIndex]='0'  [allowRowDragAndDrop]='true' childMapping='subCategories'
    [allowFiltering]='true' [allowSorting]='true' showColumnMenu='true' enableCollapseAll='true' autoCheckHierarchy='true' >
      <e-columns>
          <e-column field='title' headerText='Title' textAlign='Left' width=70 [showCheckbox]='true'></e-column>
          <e-column field='description' headerText='Description' textAlign='Left' width=200></e-column>
      </e-columns>
      </ejs-treegrid>

  </mat-card-content>

</mat-card>