<mat-toolbar>
  <button mat-icon-button (click)="newBankAccount()" matTooltip="Create a new bank account">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [disabled]="isBankAccountSelected" (click)="editBankAccount()"
    matTooltip="Edit the selected bank account">
    <mat-icon>edit</mat-icon>
  </button>
  <mat-divider class="style-fix" [vertical]="true"></mat-divider>
  <button mat-icon-button [disabled]="isBankAccountSelected" (click)="deleteBankAccount()" matTooltip="Delete the selected bank account">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-title>Bank Accounts</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row.id) : null" [checked]="selection.isSelected(row.id)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Bank Name Column -->
      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Name </th>
        <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
      </ng-container>

      <!-- IBAN Column -->
      <ng-container matColumnDef="iban">
        <th mat-header-cell *matHeaderCellDef> IBAN </th>
        <td mat-cell *matCellDef="let element"> {{element.iban}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row.id)"></tr>
    </table>

  </mat-card-content>
</mat-card>